    
      
      .buttons{
        margin: 5px;
      }
      .rati{
        color:rgb(255, 144, 144);
        font-size: 20px;
       font-weight: bold;
      }
      .border{
        border-color: gray;
        border-style: dashed;
        border-radius: 5px;
  
      }
      h1{
        color: #66a3ff;
        
    }
    body{
      background: url('../images/bg.png') center;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      color: rgb(110, 102, 161);
          
    }
    h2{
        color: turquoise;
    }
    
      .source{
        font-size: 12px;
      }
      
  .title{
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; font-weight:bolder;
  }
  .id{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; font-weight:lighter;
}
.source{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; font-weight:lighter;
}